CitadelsApp/CitadelsApp/Service References/DuplexReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Wonder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resource" nillable="true" type="tns:Resource" />
      <xs:element minOccurs="0" name="ResourceId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Wonder" nillable="true" type="tns:Wonder" />
  <xs:complexType name="Resource">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resource" nillable="true" type="tns:Resource" />
</xs:schema>